
@{
    ViewBag.Title = "Stack";
}

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="../../Content/Custom.css">
</head>

<h2>Stack</h2>
<!-- Sidebar -->
<div class="row">
    <div class="col-sm-6 w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="@Url.Action("AddOne" , "Stack")" class="w3-bar-item w3-button">Add one time to Stack</a>
        <a href="@Url.Action("AddBunch" , "Stack")" class="w3-bar-item w3-button">Add a huge list of items to Stack</a>
        <a href="@Url.Action("Display" , "Stack")" class="w3-bar-item w3-button">Display Stack</a>
        <a href="@Url.Action("Delete" , "Stack")" class="w3-bar-item w3-button">Delete from Stack</a>
        <a href="@Url.Action("Clear" , "Stack")" class="w3-bar-item w3-button">Clear Stack</a>
        <a href="@Url.Action("Search" , "Stack")" class="w3-bar-item w3-button">Search Stack</a>
        <a href="@Url.Action("Index" , "Home")" class="w3-bar-item w3-button">Return to main menu</a>
    </div>
    <div class="col-sm-3" id="answer">
            @Html.Raw((String)ViewBag.Output)
            @Html.Raw((String)ViewBag.Search)
    </div>
</div>
