
@{
    ViewBag.Title = "Stack";
}

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<h2>Stack</h2>
<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item">Menu</h3>
    <a href="@Url.Action("AddOne" , "Stack")" class="w3-bar-item w3-button">Add one time to stack</a>
    <a href="@Url.Action("AddBunch" , "Stack")" class="w3-bar-item w3-button">Add huge list of items to stack</a>
    <a href="@Url.Action("Display" , "Stack")" class="w3-bar-item w3-button">Display stack</a>
    <a href="@Url.Action("Delete" , "Stack")" class="w3-bar-item w3-button">Delete from stack</a>
    <a href="@Url.Action("Clear" , "Stack")" class="w3-bar-item w3-button">Clear stack</a>
    <a href="@Url.Action("Search" , "Stack")" class="w3-bar-item w3-button">Search stack</a>
    <a href="@Url.Action("Index" , "Home")" class="w3-bar-item w3-button">Return to main menu</a>
</div>
<style>
    #answer {
        text-align: center;
        margin: 0 auto;
    }
</style>
<div id="answer">

    @Html.Raw((String)ViewBag.Output)
    @Html.Raw((String)ViewBag.Search)
</div>